<section class="container-fluid pb-5 pt-5">

    <hr class="w-25 mx-auto my-4 border border-1 border-dark opacity-75">

    <p class="display-5 pb-5 text-center text-uppercase lh-lg fw-bold">Proyectos</p>

    <ul style="list-style: none;">

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">

            <li *ngFor="let proyecto of proyectosList">
                <div class="col">
                    <div class="card">
                        <img [src]="proyecto.portada" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{proyecto.titulo}}</h5>
                            <p class="card-text">
                                {{proyecto.descripcion}}
                            </p>
                            <p>{{proyecto.desarrolladaCon}}</p>
                            <a [href]="proyecto.enlace" target="_BLANK" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </ul>

</section>