<section class="container-fluid pb-5 pt-5">

    <hr class="w-25 mx-auto my-4 border border-1 border-dark opacity-75">

    <p class="display-5 pb-5 text-center text-uppercase lh-lg fw-bold">Proyectos</p>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col">
            <div class="card">
                <img src="img/portada-BienesRaices.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Proyecto Bienes Raices</h5>
                    <p class="card-text">Es una página web sobre bienes raices desarrollada a modo de práctica. La
                        misma
                        cuenta con una landing page, sección de nosotros, anuncios, blog y contacto.
                    </p>
                    <p>Desarrollada con: HTML5 - CSS3.</p>
                    <a href="https://thirsty-galileo-74f5f7.netlify.app/" target="_BLANK"
                        class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/portada-kondur.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Kondur Skateboards</h5>
                    <p class="card-text">Página web en proceso de desarrollo para la marca de tablas de skate
                        catamarqueña Kondur Skateboards.
                        Cuenta con página principal, sección para ver sus productos, información sobre el team,
                        contenido audiovisual o "checks" y página de contacto.
                    </p>
                    <p>Desarrollada con: HTML5 - CSS3.</p>
                    <a href="https://blissful-yalow-9bfcae.netlify.app/" target="_blank" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/portada-cursos.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Cursos Web</h5>
                    <p class="card-text">Página web sobre cursos de desarrollo web, desarrollada a modo de práctica.
                    </p>
                    <p>Desarrollado con: HTML5 - CSS3 - Responsive Design.</p>
                    <a href="https://mystifying-curie-dc835e.netlify.app/" target="_blank"
                        class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/portada-mail.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Envio de mails</h5>
                    <p class="card-text">Landing page desarrollada a modo de práctica, en donde simula el envio de
                        emails.</p>
                    <p>Desarrollado con: HTML5 - CSS3 - Bootstrap 5 - Javascript.</p>
                    <a href="https://xenodochial-shaw-f7eb85.netlify.app/" target="_blank"
                        class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="img/portada-buscadorAutos.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Buscador de Autos</h5>
                    <p class="card-text">Landing page desarrollada a modo de práctica, donde se puede filtrar la
                        busqueda de autos que se
                        encuentren en alquiler o en venta.
                    </p>
                    <p>Desarrollado con: HTML5 - CSS3 - Bootstrap 5 - Javascript.</p>
                    <a href="https://heuristic-lewin-8e0ee3.netlify.app/" target="_blank"
                        class="stretched-link"></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="img/portada-twits.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Twits</h5>
                    <p class="card-text">Landing page desarrollada a modo de práctica, donde se puede escribir un
                        "twit" y se mostrara a un
                        constado al presionar el boton "agregar".
                    </p>
                    <p>Desarrollada con: HTML5 - CSS3 - Bootstrap 5 - Javascript.</p>
                    <a href="https://jolly-engelbart-d1de53.netlify.app/" target="_blank"
                        class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>

</section>