<hr class="w-75 mx-auto my-4 border border-1 border-dark opacity-75">

<p class="display-5 ms-5 my-4 fw-bold text-center text-uppercase lh-lg">Educación</p>

<article class="d-flex justify-content-evenly align-items-center">

    <img src="img/LOGO-NUEVO-WEB.png" alt="Logo Instituto San Martin" style="width: 10rem;">

    <div class="text-center py-1">

        <p class="fs-5 fw-bold pt-2">Instituto Superior General San Martin</p>

        <p class="fst-italic fw-bold">Técnico Superior en Desarrollo de Software</p>

        <p>2019 - 2022</p>

    </div>

    <i class="bi bi-x-circle-fill text-danger fs-2"></i>

</article>

<hr class="w-25 mx-auto my-4 border border-1 border-dark opacity-75">

<article class="d-flex justify-content-evenly mt-2 align-items-center">

    <img src="img/logo-udemy.png" alt="Logo udemy" style="width: 10rem;">

    <div class="text-center py-4 w-50">

        <a href="https://www.udemy.com/course/master-en-css-responsive-sass-flexbox-grid-y-boostrap-4/" target="_BLANK"
            class="fs-5 fw-bold link-dark text-decoration-none">Master en CSS:
            Responsive, SASS,<br> Flexbox, Grid y Bootstrap</a>

        <p class="pt-3">Dic - 2021</p>

    </div>

    <i class="bi bi-x-circle-fill text-danger fs-2"></i>

</article>

<hr class="w-25 mx-auto my-4 border border-1 border-dark opacity-75">

<article class="d-flex justify-content-evenly mt-2 align-items-center">

    <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1643935033/APLogo-20-20.png"
        alt="Logo Argentina Programa" style="width: 10rem;">

    <div class="text-center py-4 w-50">

        <p class="fs-5 fw-bold pt-2">Argentina Programa: <br> #SéProgramar</p>

        <p class="pt-2">Dic - 2021</p>

    </div>

    <i class="bi bi-x-circle-fill text-danger fs-2"></i>

</article>

<div class="d-flex justify-content-evenly mt-4">
    <!-- Button trigger modal de agregar educacion-->
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnAgregarEducación">
        <i class="bi bi-plus-circle-fill fs-1"></i>
    </button>

    <!-- Button trigger modal de editar educacion-->
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnEditarEducación">
        <i class="bi bi-pencil-fill fs-1"></i>
    </button>

    <!-- Modal para agregar educación -->
    <div class="modal fade" id="btnAgregarEducación" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="agregarEducaciónLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="agregarEducaciónLabel">Agregar una nueva
                        educación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="formFile" class="form-label text-white-50">Cargar
                                logo</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-white-50">Nombre del curso o
                                institutción:</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Aqui iria el nombre de institutción">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-white-50">Titulo:</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Aqui iria el titulo">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label text-white-50">Fecha de
                                finalización:</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                placeholder="Aqui iria la fecha de finalización">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agregar
                        nueva educación</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para editar educación -->
    <div class="modal fade" id="btnEditarEducación" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="editarEducaciónLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="editarEducaciónLabel">Editar una
                        educación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-white-50">Nro
                            de articulo educativo a editar:</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label text-white-50">Cargar logo</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-white-50">Nombre del curso o
                            institutción:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Aqui iria el nombre de institutción">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-white-50">Titulo:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Aqui iria el titulo">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-white-50">Fecha
                            de finalización:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Aqui iria la fecha de finalización">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar
                        educación</button>
                </div>
            </div>
        </div>
    </div>

</div>