<div class="ms-4">

    <p class="fs-1 fw-bold text-uppercase">Sobre mi</p>

    <p class="fs-4" style="letter-spacing: 2.5px;">
        <span class="ms-3">{{sobreMi.parte1}}</span><br>
        <span class="ms-3">{{disponibilidad}}</span><br> 
        <span class="ms-3">{{sobreMi.parte2}}</span>
    </p>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        Información de contacto
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="exampleModalLabel">¡Contáctame!</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <article class="d-flex align-items-center mt-3">

                        <img [src]="informacionDeContacto.linkedinLogo" alt="" width="40px" height="40px">

                        <div class="text-center py-1 ms-3">

                            <a [href]="informacionDeContacto.linkedin" 
                            class="fs-5 fw-bold text-white text-decoration-none"  target="_blank">Juan Cruz Agüero Luna</a>

                        </div>

                    </article>

                    <article class="d-flex align-items-center mt-3">

                        <img [src]="informacionDeContacto.githubLogo" alt="" width="40px" height="40px">

                        <div class="text-center py-1 ms-3">

                            <a [href]="informacionDeContacto.github" 
                            class="fs-5 fw-bold text-white text-decoration-none" target="_blank">gorguero</a>

                        </div>

                    </article>

                    <article class="d-flex align-items-center mt-3">

                        <img [src]="informacionDeContacto.emailLogo" alt="" width="40px" height="40px">

                        <div class="text-center py-1 ms-3">

                            <p class="fs-5 fw-bold text-white text-decoration-none">{{informacionDeContacto.email}}</p>

                        </div>

                    </article>

                    <article class="d-flex align-items-center mt-3">

                        <img [src]="informacionDeContacto.telefonoLogo" alt="" width="40px" height="40px">

                        <div class="text-center py-1 ms-3">

                            <p class="fs-5 fw-bold text-white text-decoration-none">{{informacionDeContacto.telefono}}</p>

                        </div>

                    </article>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info"
                        data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>