<div class="mx-auto my-4" style="width: 20rem;">

    <ul style="list-style: none;">
        <li *ngFor="let persona of personaList">

            <img [src]="persona.link_perfil" class="card-img-top rounded-circle" alt="Imagen de perfil">

            <div class="card-body">

                <p class="card-title text-center fs-5 fw-bold">{{persona.nombre}} {{persona.apellido}}</p>
                <p class="card-subtitle text-center fs-6 lh-lg fw-bolder">{{persona.perfilLaboral}}</p>
                <p class="card-text text-center">{{persona.ubicacion}}</p>

            </div>

        </li>
    </ul>

</div>