    <!-- Seccion habilidades -->
    <section class="container-fluid pb-5">

        <div class="row pt-4">

            <hr class="w-25 mx-auto my-4 border border-1 border-dark opacity-75">

            <p class="display-5 my-4 fw-bold text-center text-uppercase lh-lg">Soft Skills</p>

            <!-- Soft Skills -->
            <article class="col-12 col-lg-8 m-auto">

                <ul style="list-style: none;">
                    <li *ngFor="let habilidad of habilidadesList">
                        <div class="container w-75">
                            <button type="button" class="btn btn-dark float-end" (click)="eliminarSoftskill(habilidad.idSkill)">
                                <i class="bi bi-x-circle-fill text-danger fs-3 float-end"></i> 
                            </button>                   
                            <!-- Button trigger modal de editar soft skill-->
                            <button type="button" class="btn btn-dark float-end" (click)="obtenerId(habilidad.idSkill)" data-bs-toggle="modal" data-bs-target="#btnEditarSoftSkill">
                                <i class="bi bi-pencil-fill fs-3"></i>
                            </button>
                            <p class="fs-4">{{habilidad.nombre}}:</p>
                            <div class="progress mb-4">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                                    role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                    [style.width.%]="habilidad.nivel">{{habilidad.nivel}}%</div>
                            </div>
                        </div>
                    </li>
                </ul>
    
            </article>

            <div class="d-flex justify-content-evenly mt-5">

                <!-- Button trigger modal de agregar soft skill-->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnAgregarSoftSkill">
                    <i class="bi bi-plus-circle-fill fs-1"></i>
                </button>

                <!-- Modal agregar soft skill -->
                <div class="modal fade" id="btnAgregarSoftSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="btnAgregarSoftSkillLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="btnAgregarSoftSkillLabel">Agregar nueva Soft Skill</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form [formGroup]="formSkill">

                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="nombreSkill" class="form-label text-white-50">Ingrese nombre de la softskill</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="IdNombreSkill"
                                            formControlName="nombreSkill"
                                            placeholder="Ingrese el nombre de la skill"
                                            [ngClass]="{'is-invalid': NombreSkill?.errors && NombreSkill?.touched, 'is-valid': !NombreSkill?.errors && NombreSkill?.touched}"
                                            >
                                            <div *ngIf="NombreSkill?.errors && NombreSkill?.touched">
                                                <p *ngIf="NombreSkill?.hasError('required')" class="text-danger">
                                                    El nombre de la skill es requerido.
                                                </p>
                                            </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="nivelSkill" class="form-label text-white-50">Ingrese el nivel del conocimiento</label>
                                        <input 
                                            type="number" 
                                            class="form-control" 
                                            id="IdNivelSkill"
                                            formControlName="nivelSkill"
                                            placeholder="Ingrese el nivel que tiene en su softskill"
                                            min="0"
                                            max="100"
                                            [ngClass]="{'is-invalid': NivelSkill?.errors && NivelSkill?.touched, 'is-valid': !NivelSkill?.errors && NivelSkill?.touched}"
                                            >
                                            <div *ngIf="NivelSkill?.errors && NivelSkill?.touched">
                                                <p *ngIf="NivelSkill?.hasError('required')" class="text-danger">
                                                    El nivel de la skill es requerido.
                                                </p>
                                                <p *ngIf="NivelSkill?.hasError('max')" class="text-danger">
                                                    El nivel de la skill es supera el limite.
                                                </p>
                                                <p *ngIf="NivelSkill?.hasError('min')" class="text-danger">
                                                    El nivel de la skill es menor el limite.
                                                </p>
                                            </div>
                                    </div>
                                </div>

                            </form>

                            <div class="modal-footer">
                                <button type="button" (click)="agregarSoftskill()" class="btn btn-secondary" data-bs-dismiss="modal">Agregar soft skill</button>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Modal editar soft skill -->
                <div class="modal fade" id="btnEditarSoftSkill" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="btnEditarSoftSkillLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">

                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="btnEditarSoftSkillLabel">Editar una Soft Skill</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <form [formGroup]="formSkill_edit">

                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="nombreSkill_edit" class="form-label text-white-50">Ingrese nombre de la softskill</label>
                                        <input 
                                            type="text" 
                                            class="form-control" 
                                            id="IdNombreSkill_edit"
                                            formControlName="nombreSkill_edit"
                                            placeholder="Ingrese el nombre de la skill"
                                            [ngClass]="{'is-invalid': NombreSkillEdit?.errors && NombreSkillEdit?.touched, 'is-valid': !NombreSkillEdit?.errors && NombreSkillEdit?.touched}"
                                            >
                                            <div *ngIf="NombreSkillEdit?.errors && NombreSkillEdit?.touched">
                                                <p *ngIf="NombreSkillEdit?.hasError('required')" class="text-danger">
                                                    El nombre de la skill es requerido.
                                                </p>
                                            </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="nivelSkill_edit" class="form-label text-white-50">Ingrese el nivel del conocimiento</label>
                                        <input 
                                            type="number" 
                                            class="form-control" 
                                            id="IdNivelSkill_edit"
                                            formControlName="nivelSkill_edit"
                                            placeholder="Ingrese el nivel que tiene en su softskill"
                                            min="0"
                                            max="100"
                                            [ngClass]="{'is-invalid': NivelSkillEdit?.errors && NivelSkillEdit?.touched, 'is-valid': !NivelSkillEdit?.errors && NivelSkillEdit?.touched}"
                                            >
                                            <div *ngIf="NivelSkillEdit?.errors && NivelSkillEdit?.touched">
                                                <p *ngIf="NivelSkillEdit?.hasError('required')" class="text-danger">
                                                    El nivel de la skill es requerido.
                                                </p>
                                                <p *ngIf="NivelSkillEdit?.hasError('max')" class="text-danger">
                                                    El nivel de la skill es supera el limite.
                                                </p>
                                                <p *ngIf="NivelSkillEdit?.hasError('min')" class="text-danger">
                                                    El nivel de la skill es menor el limite.
                                                </p>
                                            </div>
                                    </div>
                                </div>

                            </form>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="editarSoftskill()" data-bs-dismiss="modal">Actualizar softskill</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
