<body class="bg-gradient">
  
  <!-- Encabezado -->
  <app-encabezado></app-encabezado>

  <main>

    <!-- Sobre mi -->
    <app-acerca-de></app-acerca-de>

    <!-- Seccion educacion y experiencia laboral -->
    <app-educacion-y-experiencia></app-educacion-y-experiencia>

  </main>

  <!-- Seccion habilidades -->
  <app-habilidades></app-habilidades>

  <!-- Seccion Tecnologías -->
  <app-tecnologias></app-tecnologias>

  <!-- Seccion Proyectos -->
  <app-proyectos></app-proyectos>

  <!-- Footer -->
  <app-footer></app-footer>

  <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>