    <!-- Encabezado -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container">

                <p class="navbar-brand fs-2 text-white text-uppercase lh-lg">Administrador</p>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="navbarText">
                    <ul class="navbar-nav ms-auto align-items-center">

                        <li class="nav-item d-block align-self-center me-5">
                            <a href="index.html" class="btn btn-outline-info ms-4 btn-lg w-100" type="button">Volver al
                                inicio</a>
                        </li>
                    </ul>

                </div>

            </div>

        </nav>
    </header>
