<hr class="w-75 mx-auto my-4 border border-1 border-dark opacity-75">

<p class="display-5 ms-5 my-4 fw-bold text-center text-uppercase lh-lg">Educación</p>

<ul style="list-style: none;">
    <li *ngFor="let educacion of educacionList">

        <article class="d-flex justify-content-evenly ">

            <img [src]="educacion.link_logo" alt="Logo Instituto San Martin" style="width: 10rem;">
        
            <div class="text-center py-1">
        
                <p class="fs-5 fw-bold pt-2">{{educacion.nombreInsti}}</p>
        
                <p class="fst-italic fw-bold">{{educacion.titulo}}</p>
        
                <p>{{educacion.fechaInicio}} - {{educacion.fechaFinal}}</p>

                <p>Id: {{educacion.idEducacion}}</p>
        
            </div>

                <!-- Button trigger modal de editar educacion-->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnEditarEducación">
                    <i class="bi bi-pencil-fill fs-1"></i>
                </button>
                <button (click)="eliminarEducacion(educacion.idEducacion)" type="button" class="btn btn-dark ms-1">Eliminar</button>
                    
        </article>
        <hr class="w-25 mx-auto my-4 border border-1 border-dark opacity-75">
    </li>
</ul>

<div class="d-flex justify-content-evenly mt-4">
    <!-- Button trigger modal de agregar educacion-->
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnAgregarEducación">
        <i class="bi bi-plus-circle-fill fs-1"></i>
    </button>

    <!-- Modal para agregar educación -->
    <div class="modal fade" id="btnAgregarEducación" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="agregarEducaciónLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">

                <div class="modal-header">
                    <h5 class="modal-title text-white" id="agregarEducaciónLabel">Agregar una nueva
                        educación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form [formGroup]="form">

                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="linkLogo" class="form-label text-white-50">Ingresar link de logo</label>
                                <input 
                                    formControlName="link_logo" 
                                    class="form-control form-control-lg" 
                                    type="text" id="link_Logo" 
                                    placeholder="Ingrese link de su imagen de perfil"
                                    [ngClass]="{'is-invalid': LinkLogo?.errors && LinkLogo?.touched, 'is-valid': !LinkLogo?.errors && LinkLogo?.touched}"
                                >
                                <div *ngIf="LinkLogo?.errors && LinkLogo?.touched">
                                    <p *ngIf="LinkLogo?.hasError('required')" class="text-danger">
                                        El link de su imagen de perfil es requerido.
                                    </p>
                                </div>

                            </div>
                            <div class="mb-3">
                                <label for="nombreInstitucion" class="form-label text-white-50">Nombre del curso o institutción:</label>
                                <input
                                    formControlName="nombreInstitucion" 
                                    type="text" 
                                    class="form-control" 
                                    id="inputNombreInstitucion" 
                                    placeholder="Ingrese nombre de institutción"
                                    [ngClass]="{'is-invalid': NombreInstitucion?.errors && NombreInstitucion?.touched, 'is-valid': !NombreInstitucion?.errors && NombreInstitucion?.touched}"
                                    >
                                    <div *ngIf="NombreInstitucion?.errors && NombreInstitucion?.touched">
                                        <p *ngIf="NombreInstitucion?.hasError('required')" class="text-danger">
                                            El nombre de la institución es requerido.
                                        </p>
                                    </div>
                            </div>
                            <div class="mb-3">
                                <label for="titulo" class="form-label text-white-50">Titulo:</label>
                                <input
                                    formControlName="titulo" 
                                    type="text" 
                                    class="form-control" 
                                    id="inputTitulacion" 
                                    placeholder="Ingrese nombre de su titulación"
                                    [ngClass]="{'is-invalid': Titulo?.errors && Titulo?.touched, 'is-valid': !Titulo?.errors && Titulo?.touched}"
                                    >
                                    <div *ngIf="Titulo?.errors && Titulo?.touched">
                                        <p *ngIf="Titulo?.hasError('required')" class="text-danger">
                                            El nombre de la titulación es requerido.
                                        </p>
                                    </div>
                            </div>
                            <div class="mb-3">
                                <label for="fechaInicio" class="form-label text-white-50">Fecha
                                    de inicio:</label>
                                    <input
                                    formControlName="fechaInicio" 
                                    type="text" 
                                    class="form-control" 
                                    id="inputFechaInicio" 
                                    placeholder="Ingrese la fecha de inicio (dd-mm-yyyy)"
                                    [ngClass]="{'is-invalid': FechaInicio?.errors && FechaInicio?.touched, 'is-valid': !FechaInicio?.errors && FechaInicio?.touched}"
                                    >
                                    <div *ngIf="FechaInicio?.errors && FechaInicio?.touched">
                                        <p *ngIf="FechaInicio?.hasError('required')" class="text-danger">
                                            La fecha de inicio es requerido.
                                        </p>
                                    </div>
                            </div>
                            <div class="mb-3">
                                <label for="fechaFin" class="form-label text-white-50">Fecha de
                                    finalización:</label>
                                    <input
                                    formControlName="fechaFin" 
                                    type="text" 
                                    class="form-control" 
                                    id="inputFechaFin" 
                                    placeholder="Ingrese la fecha de fin (dd-mm-yyyy)"
                                    [ngClass]="{'is-invalid': FechaFin?.errors && FechaFin?.touched, 'is-valid': !FechaFin?.errors && FechaFin?.touched}"
                                    >
                                    <div *ngIf="FechaFin?.errors && FechaFin?.touched">
                                        <p *ngIf="FechaFin?.hasError('required')" class="text-danger">
                                            La fecha de fin es requerido.
                                        </p>
                                    </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="AgregarEducacion()" data-bs-dismiss="modal">Agregar nueva educación</button>
                    </div>

                </form>

                

            </div>
        </div>
    </div>

    <!-- Modal para editar educación -->
    <div class="modal fade" id="btnEditarEducación" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="editarEducaciónLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-white" id="editarEducaciónLabel">Actualizar educación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form [formGroup]="form_edit">

                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="linkLogoEdit" class="form-label text-white-50">Ingresar link de logo</label>
                                <input 
                                    formControlName="link_logo_edit" 
                                    class="form-control form-control-lg" 
                                    type="text" 
                                    id="link_Logo_edit" 
                                    placeholder="Ingrese link de su imagen de perfil"
                                    [ngClass]="{'is-invalid': LinkLogoEdit?.errors && LinkLogoEdit?.touched, 'is-valid': !LinkLogoEdit?.errors && LinkLogoEdit?.touched}"
                                >
                                <div *ngIf="LinkLogoEdit?.errors && LinkLogoEdit?.touched">
                                    <p *ngIf="LinkLogoEdit?.hasError('required')" class="text-danger">
                                        El link de su imagen de perfil es requerido.
                                    </p>
                                </div>

                            </div>
                            <div class="mb-3">
                                <label for="nombreInstitucionEdit" class="form-label text-white-50">Nombre del curso o institutción:</label>
                                <input
                                    formControlName="nombreInstitucion_edit" 
                                    type="text" 
                                    class="form-control" 
                                    id="inputNombreInstitucion_edit" 
                                    placeholder="Ingrese nombre de institutción"
                                    [ngClass]="{'is-invalid': NombreInstitucionEdit?.errors && NombreInstitucionEdit?.touched, 'is-valid': !NombreInstitucionEdit?.errors && NombreInstitucionEdit?.touched}"
                                    >
                                    <div *ngIf="NombreInstitucionEdit?.errors && NombreInstitucionEdit?.touched">
                                        <p *ngIf="NombreInstitucionEdit?.hasError('required')" class="text-danger">
                                            El nombre de la institución es requerido.
                                        </p>
                                    </div>
                            </div>
                            <div class="mb-3">
                                <label for="tituloEdit" class="form-label text-white-50">Titulo:</label>
                                <input
                                    formControlName="titulo_edit" 
                                    type="text" 
                                    class="form-control" 
                                    id="inputTitulacionEdit" 
                                    placeholder="Ingrese nombre de su titulación"
                                    [ngClass]="{'is-invalid': TituloEdit?.errors && TituloEdit?.touched, 'is-valid': !TituloEdit?.errors && TituloEdit?.touched}"
                                    >
                                    <div *ngIf="TituloEdit?.errors && TituloEdit?.touched">
                                        <p *ngIf="TituloEdit?.hasError('required')" class="text-danger">
                                            El nombre de la titulación es requerido.
                                        </p>
                                    </div>
                            </div>
                            <div class="mb-3">
                                <label for="fechaInicioEdit" class="form-label text-white-50">Fecha
                                    de inicio:</label>
                                    <input
                                    formControlName="fechaInicio_edit" 
                                    type="text" 
                                    class="form-control" 
                                    id="inputFechaInicioEdit" 
                                    placeholder="Ingrese la fecha de inicio (dd-mm-yyyy)"
                                    [ngClass]="{'is-invalid': FechaInicioEdit?.errors && FechaInicioEdit?.touched, 'is-valid': !FechaInicioEdit?.errors && FechaInicioEdit?.touched}"
                                    >
                                    <div *ngIf="FechaInicioEdit?.errors && FechaInicioEdit?.touched">
                                        <p *ngIf="FechaInicioEdit?.hasError('required')" class="text-danger">
                                            La fecha de inicio es requerido.
                                        </p>
                                    </div>
                            </div>
                            <div class="mb-3">
                                <label for="fechaFinEdit" class="form-label text-white-50">Fecha de
                                    finalización:</label>
                                    <input
                                    formControlName="fechaFin_edit" 
                                    type="text" 
                                    class="form-control" 
                                    id="inputFechaFin" 
                                    placeholder="Ingrese la fecha de fin (dd-mm-yyyy)"
                                    [ngClass]="{'is-invalid': FechaFinEdit?.errors && FechaFinEdit?.touched, 'is-valid': !FechaFinEdit?.errors && FechaFinEdit?.touched}"
                                    >
                                    <div *ngIf="FechaFinEdit?.errors && FechaFinEdit?.touched">
                                        <p *ngIf="FechaFinEdit?.hasError('required')" class="text-danger">
                                            La fecha de fin es requerido.
                                        </p>
                                    </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="editarEducacion()" data-bs-dismiss="modal">Actualizar educación</button>
                    </div>

                </form>
                <!-- <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label text-white-50">Cargar logo</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-white-50">Nombre del curso o
                            institutción:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Aqui iria el nombre de institutción">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-white-50">Titulo:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Aqui iria el titulo">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-white-50">Fecha
                            de inicio:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Aqui iria la fecha de inicio">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label text-white-50">Fecha
                            de finalización:</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1"
                            placeholder="Aqui iria la fecha de finalización">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar educación</button>
                </div> -->

            </div>
        </div>
    </div>

</div>