<section class="container-fluid pb-5">

    <div class="row pt-4">

        <hr class="w-25 mx-auto my-4 border border-1 border-dark opacity-75">

        <p class="display-5 my-4 fw-bold text-center text-uppercase lh-lg">Soft Skills</p>

        <!-- Soft Skills -->
        <article class="col-12 col-lg-6">

            <ul style="list-style: none;">
                <li *ngFor="let habilidad of habilidadesList1">
                    <div class="container w-75">
                        <p class="fs-4">{{habilidad.nombre}}:</p>
                        <div class="progress mb-4">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                                role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                [style.width.%]="habilidad.nivel">{{habilidad.nivel}}%</div>
                        </div>
                    </div>
                </li>
            </ul>

        </article>

        <article class="col-12 col-lg-6">

            <ul style="list-style: none;">
                <li *ngFor="let habilidad of habilidadesList2">
                    <div class="container w-75 mb-4">
                        <p class="fs-4">{{habilidad.nombre}}:</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                                role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"
                                [style.width.%]="habilidad.nivel">{{habilidad.nivel}}%</div>
                        </div>
                    </div>
                </li>
            </ul>

        </article>

    </div>

</section>