<hr class="w-75 mx-auto my-4 border border-1 border-dark opacity-75">

<p class="display-5 ms-5 my-4 text-center text-uppercase lh-lg fw-bold">Experiencia laboral</p>

<article class="d-flex justify-content-evenly mt-2">

    <img src="img/logo-udemy.png" alt="Logo udemy" style="width: 10rem;">

    <div class="text-center py-1">

        <p class="fs-5 fw-bold pt-2">Nombre de la empresa</p>

        <p class="fst-italic fw-bold">Frontend Developer</p>

        <p>Nov 2022 - Actualidad</p>

        <p class="card-text text-center">Córdoba, Argentina</p>

    </div>

</article>