<div class="ms-4">

    <ul style="list-style: none;">
        <li *ngFor="let persona of personaList">
            <p class="fs-1 fw-bold text-uppercase">Sobre mi</p>

            <p class="fs-4" style="letter-spacing: 2.5px;">
                <span class="ms-3">{{persona.presentacionUno}}</span><br>
                <span class="ms-3">{{persona.presentacionDos}}</span>
            </p>

            <!-- Modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content bg-dark">
                        <div class="modal-header">
                            <h5 class="modal-title text-white" id="exampleModalLabel">¡Contáctame!</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <article class="d-flex align-items-center mt-3">

                                <img src="../../assets/img/linkedin-icon.png" alt="" width="40px" height="40px">

                                <div class="text-center py-1 ms-3">

                                    <a href="https://www.linkedin.com/in/juan-cruz-ag%C3%BCero/"
                                        class="fs-5 fw-bold text-white text-decoration-none" target="_blank">Juan Cruz
                                        Agüero Luna</a>

                                </div>

                            </article>

                            <article class="d-flex align-items-center mt-3">

                                <img src="../../assets/img/github2.png" alt="" width="40px" height="40px">

                                <div class="text-center py-1 ms-3">

                                    <a href="https://github.com/gorguero"
                                        class="fs-5 fw-bold text-white text-decoration-none"
                                        target="_blank">gorguero</a>

                                </div>

                            </article>

                            <article class="d-flex align-items-center mt-3">

                                <img src="../../assets/img/gmail.png" alt="" width="40px" height="40px">

                                <div class="text-center py-1 ms-3">

                                    <p class="fs-5 fw-bold text-white text-decoration-none">{{persona.email}}</p>

                                </div>

                            </article>

                            <article class="d-flex align-items-center mt-3">

                                <img src="../../assets/img/telefono.png" alt="" width="40px" height="40px">

                                <div class="text-center py-1 ms-3">

                                    <p class="fs-5 fw-bold text-white text-decoration-none">{{persona.telefono}}</p>

                                </div>

                            </article>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Información de contacto
    </button>

</div>