<!-- Seccion Proyectos -->
<section class="container-fluid pb-5 pt-5">

    <hr class="w-25 mx-auto my-4 border border-1 border-dark opacity-75">

    <p class="display-5 pb-5 text-center text-uppercase lh-lg fw-bold">Proyectos</p>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col">
            <div class="card">
                <img src="img/portada-BienesRaices.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Proyecto Bienes Raices</h5>
                    <p class="card-text">Es una página web sobre bienes raices desarrollada a modo de práctica. La
                        misma
                        cuenta con una landing page, sección de nosotros, anuncios, blog y contacto.
                    </p>
                    <p>Desarrollada con: HTML5 - CSS3.</p>
                </div>
            </div>
            <div class="d-flex justify-content-evenly mt-3">

                <!-- Button Modal Editar Proyecto -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnEditarProyecto">
                    <i class="bi bi-pencil-fill fs-2"></i>
                </button>

                <!-- Modal de Editar Proyecto -->
                <div class="modal fade" id="btnEditarProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="editarProyectoLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="editarProyectoLabel">Editar proyecto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Nro de proyecto a editar</label>
                                    <input class="form-control" type="number" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Cargar imagen del proyecto</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Titulo del proyecto</label>
                                    <input class="form-control" type="" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Descripción del proyecto</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Tecnologías del proyecto</label>
                                    <input class="form-control" type="text" id="formFile">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar proyecto</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Eliminar Proyecto -->
                <button type="button" class="btn btn-dark">
                    <i class="bi bi-x-circle-fill fs-2"></i>
                </button>
                
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/portada-kondur.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Kondur Skateboards</h5>
                    <p class="card-text">Página web en proceso de desarrollo para la marca de tablas de skate
                        catamarqueña Kondur Skateboards.
                        Cuenta con página principal, sección para ver sus productos, información sobre el team,
                        contenido audiovisual o "checks" y página de contacto.
                    </p>
                    <p>Desarrollada con: HTML5 - CSS3.</p>
                </div>
            </div>
            <div class="d-flex justify-content-evenly mt-3">

                <!-- Button Modal Editar Proyecto -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnEditarProyecto">
                    <i class="bi bi-pencil-fill fs-2"></i>
                </button>

                <!-- Modal de Editar Proyecto -->
                <div class="modal fade" id="btnEditarProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="editarProyectoLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="editarProyectoLabel">Editar proyecto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Nro de proyecto a editar</label>
                                    <input class="form-control" type="number" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Cargar imagen del proyecto</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Titulo del proyecto</label>
                                    <input class="form-control" type="" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Descripción del proyecto</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Tecnologías del proyecto</label>
                                    <input class="form-control" type="text" id="formFile">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar proyecto</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Eliminar Proyecto -->
                <button type="button" class="btn btn-dark">
                    <i class="bi bi-x-circle-fill fs-2"></i>
                </button>
                
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/portada-cursos.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Cursos Web</h5>
                    <p class="card-text">Página web sobre cursos de desarrollo web, desarrollada a modo de práctica.
                    </p>
                    <p>Desarrollado con: HTML5 - CSS3 - Responsive Design.</p>
                </div>
            </div>
            <div class="d-flex justify-content-evenly mt-3">

                <!-- Button Modal Editar Proyecto -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnEditarProyecto">
                    <i class="bi bi-pencil-fill fs-2"></i>
                </button>

                <!-- Modal de Editar Proyecto -->
                <div class="modal fade" id="btnEditarProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="editarProyectoLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="editarProyectoLabel">Editar proyecto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Nro de proyecto a editar</label>
                                    <input class="form-control" type="number" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Cargar imagen del proyecto</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Titulo del proyecto</label>
                                    <input class="form-control" type="" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Descripción del proyecto</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Tecnologías del proyecto</label>
                                    <input class="form-control" type="text" id="formFile">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar proyecto</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Eliminar Proyecto -->
                <button type="button" class="btn btn-dark">
                    <i class="bi bi-x-circle-fill fs-2"></i>
                </button>
                
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="img/portada-mail.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Envio de mails</h5>
                    <p class="card-text">Landing page desarrollada a modo de práctica, en donde simula el envio de
                        emails.</p>
                    <p>Desarrollado con: HTML5 - CSS3 - Bootstrap 5 - Javascript.</p>
                </div>
            </div>
            <div class="d-flex justify-content-evenly mt-3">

                <!-- Button Modal Editar Proyecto -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnEditarProyecto">
                    <i class="bi bi-pencil-fill fs-2"></i>
                </button>

                <!-- Modal de Editar Proyecto -->
                <div class="modal fade" id="btnEditarProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="editarProyectoLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="editarProyectoLabel">Editar proyecto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Nro de proyecto a editar</label>
                                    <input class="form-control" type="number" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Cargar imagen del proyecto</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Titulo del proyecto</label>
                                    <input class="form-control" type="" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Descripción del proyecto</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Tecnologías del proyecto</label>
                                    <input class="form-control" type="text" id="formFile">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar proyecto</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Eliminar Proyecto -->
                <button type="button" class="btn btn-dark">
                    <i class="bi bi-x-circle-fill fs-2"></i>
                </button>
                
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="img/portada-buscadorAutos.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Buscador de Autos</h5>
                    <p class="card-text">Landing page desarrollada a modo de práctica, donde se puede filtrar la
                        busqueda de autos que se
                        encuentren en alquiler o en venta.
                    </p>
                    <p>Desarrollado con: HTML5 - CSS3 - Bootstrap 5 - Javascript.</p>
                </div>
            </div>
            <div class="d-flex justify-content-evenly mt-3">

                <!-- Button Modal Editar Proyecto -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnEditarProyecto">
                    <i class="bi bi-pencil-fill fs-2"></i>
                </button>

                <!-- Modal de Editar Proyecto -->
                <div class="modal fade" id="btnEditarProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="editarProyectoLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="editarProyectoLabel">Editar proyecto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Nro de proyecto a editar</label>
                                    <input class="form-control" type="number" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Cargar imagen del proyecto</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Titulo del proyecto</label>
                                    <input class="form-control" type="" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Descripción del proyecto</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Tecnologías del proyecto</label>
                                    <input class="form-control" type="text" id="formFile">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar proyecto</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Eliminar Proyecto -->
                <button type="button" class="btn btn-dark">
                    <i class="bi bi-x-circle-fill fs-2"></i>
                </button>
                
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="img/portada-twits.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Twits</h5>
                    <p class="card-text">Landing page desarrollada a modo de práctica, donde se puede escribir un
                        "twit" y se mostrara a un
                        constado al presionar el boton "agregar".
                    </p>
                    <p>Desarrollada con: HTML5 - CSS3 - Bootstrap 5 - Javascript.</p>
                </div>
            </div>
            <div class="d-flex justify-content-evenly mt-3">

                <!-- Button Modal Editar Proyecto -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnEditarProyecto">
                    <i class="bi bi-pencil-fill fs-2"></i>
                </button>

                <!-- Modal de Editar Proyecto -->
                <div class="modal fade" id="btnEditarProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="editarProyectoLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-dark">
                            <div class="modal-header">
                                <h5 class="modal-title text-white" id="editarProyectoLabel">Editar proyecto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Nro de proyecto a editar</label>
                                    <input class="form-control" type="number" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Cargar imagen del proyecto</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Titulo del proyecto</label>
                                    <input class="form-control" type="" id="formFile">
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Descripción del proyecto</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label text-white-50">Tecnologías del proyecto</label>
                                    <input class="form-control" type="text" id="formFile">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Actualizar proyecto</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Eliminar Proyecto -->
                <button type="button" class="btn btn-dark">
                    <i class="bi bi-x-circle-fill fs-2"></i>
                </button>
                
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-evenly mt-5">

        <!-- Button trigger modal de agregar Proyecto-->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#btnAgregarProyecto">
            <i class="bi bi-plus-circle-fill fs-1"></i>
        </button>

        <!-- Modal de agregar Proyecto -->
        <div class="modal fade" id="btnAgregarProyecto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="btnAgregarProyectoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title text-white" id="AgregarProyectoLabel">Agregar un nuevo proyecto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="formFile" class="form-label text-white-50">Cargar imagen del proyecto</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label text-white-50">Titulo del proyecto</label>
                            <input class="form-control" type="" id="formFile">
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label text-white-50">Descripción del proyecto</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1"rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="formFile" class="form-label text-white-50">Tecnologías del proyecto</label>
                            <input class="form-control" type="text" id="formFile">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agregar proyecto</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    

</section>
